<a href="https://colab.research.google.com/github/RuthlessActuary2023/CAS-RPM-2026-Workshop-Functional-Intro-Python/blob/main/CARFAX_Intro_to_Python_Lesson_1_Lists_Dicts_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1: Lists, Dictionaries, & Dataframes
## Lists follow the form of [item 1, item 2, â€¦ , item n]; e.g. [1,2,3,4,5]
### Below we create list1 and enter its values manually,
### Create a string variable with some text,
### Create a variable with the length of list1,
### Create a variable with the length of list1 as a string,
### Print a string explaining the length of list1

In [1]:
list1 = [1,2,3,4,5]
print(list1)

start_string = 'The length of list1 is '

list1_len = len(list1)

list1_len_string = str(len(list1))

print(start_string + list1_len_string)

[1, 2, 3, 4, 5]
The length of list1 is 5

## Next create more lists and work with indexes
### Below we create a list of things in Africa (lists are defined by single bracket around the values),
### Return the first item in the list by index = 0,
### Return the index of the element "birds"

In [2]:
africa_list = ['trees', 'grass', 'elephants', 'birds']

print('The first item in africa_list = ' + africa_list[0])

birds_index = africa_list.index('birds')
print('The index of "birds" in africa_list = ' + str(birds_index) + ' and it is item number ' + str(birds_index + 1))

The first item in africa_list = trees
The index of "birds" in africa_list = 3 and it is item number 4

## Next select from the list based on containing items
### Below we create list of animals,
### Create list of animals in africa using in clause,
### Print list of non-animals without creating the list as it's own item,
### Print list of items whos text contains the letter "e"

In [3]:
animals_list = ['elephants','birds','cows','horses']

africa_animals_list = [i for i in africa_list if i in animals_list]
print(africa_animals_list)

print([i for i in africa_list if i not in animals_list])

print([i for i in africa_list if 'e' in i])

['elephants', 'birds']
['trees', 'grass']
['trees', 'elephants']

## Next create lists, combine them and remove items
### Below we create list of fruit, vegetables, and grains for the shopping list.
### Combine all items into shopping list.
### We hate broccoli & brown rice - remove then from the list.
### Remove command changes the list inplace, so our list needs to be recreated for another version.
### Remove broccoli and brown rice using list comprehension.

In [4]:
fruits = ['apples','bananas','peaches','pears']
veggies = ['broccoli','asparagus','lettuce']
grains = ['brown rice','jasmine rice','basmati rice','wheat','cous cous','quinoa']

shopping_list = fruits + veggies + grains
print(shopping_list)

shopping_list.remove('broccoli')
shopping_list.remove('brown rice')

print(shopping_list)

shopping_list = fruits + veggies + grains

we_hate = ['broccoli','brown rice']
shopping_list = [i for i in shopping_list if i not in we_hate]
print(shopping_list)

['apples', 'bananas', 'peaches', 'pears', 'broccoli', 'asparagus', 'lettuce', 'brown rice', 'jasmine rice', 'basmati rice', 'wheat', 'cous cous', 'quinoa']
['apples', 'bananas', 'peaches', 'pears', 'asparagus', 'lettuce', 'jasmine rice', 'basmati rice', 'wheat', 'cous cous', 'quinoa']
['apples', 'bananas', 'peaches', 'pears', 'asparagus', 'lettuce', 'jasmine rice', 'basmati rice', 'wheat', 'cous cous', 'quinoa']

### Import pandas and turn our shopping list into a dataframe
### Convert to dataframe
### Rename columns
### Show in editor without print

In [5]:
import pandas as pd

shopping_df = pd.DataFrame(shopping_list)

shopping_df.columns = (['food'])

shopping_df

            food
0         apples
1        bananas
2        peaches
3          pears
4      asparagus
5        lettuce
6   jasmine rice
7   basmati rice
8          wheat
9      cous cous
10        quinoa

## Create a dictionary of food with category,  price/unit and quantity needed

In [6]:
shopping_dict = {
      'apples': ['fruit',1.00,4]
    , 'bananas': ['fruit',0.25,8]
    , 'peaches': ['fruit',0.50,2]
    , 'pears': ['fruit',0.35,1]
    , 'asparagus': ['vegetable',3.00,1]
    , 'lettuce': ['vegetable',1.75,1]
    , 'jasmine rice': ['grain',0.12,20]
    , 'basmati rice': ['grain',0.15,5]
    , 'wheat': ['grain',0.10,10]
    , 'cous cous': ['grain',0.37,2.5]
    , 'quinoa': ['grain',0.50,3]
}

shopping_dict

{'apples': ['fruit', 1.0, 4],
 'bananas': ['fruit', 0.25, 8],
 'peaches': ['fruit', 0.5, 2],
 'pears': ['fruit', 0.35, 1],
 'asparagus': ['vegetable', 3.0, 1],
 'lettuce': ['vegetable', 1.75, 1],
 'jasmine rice': ['grain', 0.12, 20],
 'basmati rice': ['grain', 0.15, 5],
 'wheat': ['grain', 0.1, 10],
 'cous cous': ['grain', 0.37, 2.5],
 'quinoa': ['grain', 0.5, 3]}

## Convert dictionary to dataframe and create aggregations

In [7]:
shopping_df = pd.DataFrame(shopping_dict)
shopping_df

,apples,bananas,peaches,pears,asparagus,lettuce,jasmine rice,basmati rice,wheat,cous cous,quinoa
0,fruit,fruit,fruit,fruit,vegetable,vegetable,grain,grain,grain,grain,grain
1,1.0,0.25,0.5,0.35,3.0,1.75,0.12,0.15,0.1,0.37,0.5
2,4,8,2,1,1,1,20,5,10,2.5,3

## It doesn't look how we need it to - let's transpose it

In [8]:
shopping_df = shopping_df.T
shopping_df

                      0     1    2
apples            fruit   1.0    4
bananas           fruit  0.25    8
peaches           fruit   0.5    2
pears             fruit  0.35    1
asparagus     vegetable   3.0    1
lettuce       vegetable  1.75    1
jasmine rice      grain  0.12   20
basmati rice      grain  0.15    5
wheat             grain   0.1   10
cous cous         grain  0.37  2.5
quinoa            grain   0.5    3

## Here's another way to do it

In [9]:
shopping_df = pd.DataFrame.from_dict(shopping_dict, orient = 'index')
shopping_df

                      0     1     2
apples            fruit  1.00   4.0
bananas           fruit  0.25   8.0
peaches           fruit  0.50   2.0
pears             fruit  0.35   1.0
asparagus     vegetable  3.00   1.0
lettuce       vegetable  1.75   1.0
jasmine rice      grain  0.12  20.0
basmati rice      grain  0.15   5.0
wheat             grain  0.10  10.0
cous cous         grain  0.37   2.5
quinoa            grain  0.50   3.0

## The food name is the index, which we don't want.  Let's reset the index

In [10]:
shopping_df = shopping_df.reset_index()
shopping_df

           index          0     1     2
0         apples      fruit  1.00   4.0
1        bananas      fruit  0.25   8.0
2        peaches      fruit  0.50   2.0
3          pears      fruit  0.35   1.0
4      asparagus  vegetable  3.00   1.0
5        lettuce  vegetable  1.75   1.0
6   jasmine rice      grain  0.12  20.0
7   basmati rice      grain  0.15   5.0
8          wheat      grain  0.10  10.0
9      cous cous      grain  0.37   2.5
10        quinoa      grain  0.50   3.0

## The columns aren't named, let's rename them.

In [11]:
shopping_df.columns = (['food_name','category','price','quantity'])
shopping_df

       food_name   category  price  quantity
0         apples      fruit   1.00       4.0
1        bananas      fruit   0.25       8.0
2        peaches      fruit   0.50       2.0
3          pears      fruit   0.35       1.0
4      asparagus  vegetable   3.00       1.0
5        lettuce  vegetable   1.75       1.0
6   jasmine rice      grain   0.12      20.0
7   basmati rice      grain   0.15       5.0
8          wheat      grain   0.10      10.0
9      cous cous      grain   0.37       2.5
10        quinoa      grain   0.50       3.0

## Let's rewrite this in 2 lines

In [12]:
shopping_df = pd.DataFrame(shopping_dict).T.reset_index()
shopping_df.columns = (['food_name','category','price','quantity'])
shopping_df

       food_name   category price quantity
0         apples      fruit   1.0        4
1        bananas      fruit  0.25        8
2        peaches      fruit   0.5        2
3          pears      fruit  0.35        1
4      asparagus  vegetable   3.0        1
5        lettuce  vegetable  1.75        1
6   jasmine rice      grain  0.12       20
7   basmati rice      grain  0.15        5
8          wheat      grain   0.1       10
9      cous cous      grain  0.37      2.5
10        quinoa      grain   0.5        3

## Determine the shape of the dataframe
## Determine the number of columns
## Determine the number of rows

In [13]:
print(shopping_df.shape)

print(shopping_df.shape[0])

print(shopping_df.shape[1])

(11, 4)
11
4

## Before we work with this data, set the data types
### First, let's determine what the data types are for each field in shopping_df

In [14]:
shopping_df.dtypes

food_name    object
category     object
price        object
quantity     object
dtype: object

In [15]:
shopping_df

       food_name   category price quantity
0         apples      fruit   1.0        4
1        bananas      fruit  0.25        8
2        peaches      fruit   0.5        2
3          pears      fruit  0.35        1
4      asparagus  vegetable   3.0        1
5        lettuce  vegetable  1.75        1
6   jasmine rice      grain  0.12       20
7   basmati rice      grain  0.15        5
8          wheat      grain   0.1       10
9      cous cous      grain  0.37      2.5
10        quinoa      grain   0.5        3

## Now let's change price and quantity to float64

In [16]:
shopping_df['price'] = shopping_df['price'].astype('float64')
shopping_df['quantity'] = shopping_df['quantity'].astype('float64')

shopping_df.dtypes

food_name     object
category      object
price        float64
quantity     float64
dtype: object

## Let's functionize the above cell
### We will create a function, run the fields through the function, and check to see if it worked

In [17]:
def dtype_cast(df,col,typ):
    df[col] = df[col].astype(typ)

dtype_cast(shopping_df,'price','str')
dtype_cast(shopping_df,'quantity','str')
shopping_df.dtypes

food_name    object
category     object
price        object
quantity     object
dtype: object

## Put it back how we want it with the function

In [18]:
dtype_cast(shopping_df,'price','float64')
dtype_cast(shopping_df,'quantity','float64')
shopping_df.dtypes

food_name     object
category      object
price        float64
quantity     float64
dtype: object

## Now to summarizing this dataframe
### Let's look at the min, mean, max, variance, standard deviation of price

#### Helpful Hint: Use print() throughout the cell when wanting to print multiple executions below from the same cell. How would this look if we didn't use print()?

In [19]:
print(shopping_df['price'].min())
print(shopping_df['price'].mean())
print(shopping_df['price'].max())
print(shopping_df['price'].var())
print(shopping_df['price'].std())
print(shopping_df['price'].mode())

0.1
0.7354545454545455
3.0
0.7981472727272727
0.8933908846228915
0    0.5
Name: price, dtype: float64

## Let's groupby category and get stats

In [20]:
shopping_df.groupby(['category']).agg({'price': 'min'})

           price
category
fruit       0.25
grain       0.10
vegetable   1.75

## This looks ugly this way and harder to merge with later, so we will reset index

In [21]:
shopping_df.groupby(['category']).agg({'price': 'min'}).reset_index()

    category  price
0      fruit   0.25
1      grain   0.10
2  vegetable   1.75

## Let's run multiple statistics on the same column

In [22]:
shopping_df.groupby(['category']).agg({'price': ['min','mean','max','sum']}).reset_index()

    category price
               min   mean  max   sum
0      fruit  0.25  0.525  1.0  2.10
1      grain  0.10  0.248  0.5  1.24
2  vegetable  1.75  2.375  3.0  4.75

## Determine the fruit that is the minimum fruit price

In [23]:
fruit_df = shopping_df.loc[shopping_df['category'] == 'fruit'].copy()
min_fruit_price = fruit_df['price'].min()
fruit_df.loc[fruit_df['price'] == min_fruit_price]['food_name']

1    bananas
Name: food_name, dtype: object

## Create new field with cost, create df with stats and rename columns

In [24]:
shopping_df['cost'] = shopping_df['price'] * shopping_df['quantity']

agg_df1 = shopping_df.groupby(['category']).agg({'price': 'mean', 'quantity': 'sum', 'cost': 'sum'}).reset_index()
agg_df1.columns = (['category','avg_price','total_quantity','total_cost'])
agg_df1

    category  avg_price  total_quantity  total_cost
0      fruit      0.525            15.0       7.350
1      grain      0.248            40.5       6.575
2  vegetable      2.375             2.0       4.750

## Multiple shopping lists with constant statistics
### Let's first filter the dataframe

In [25]:
shopping_df.loc[shopping_df['food_name'] == 'apples']

  food_name category  price  quantity  cost
0    apples    fruit    1.0       4.0   4.0

## Next, filter with a list

In [26]:
shopping_df.loc[shopping_df['food_name'].isin(['apples','bananas'])]

  food_name category  price  quantity  cost
0    apples    fruit   1.00       4.0   4.0
1   bananas    fruit   0.25       8.0   2.0

## Create an agg dictionary for repeatable aggregations
## Create three different shopping lists
## Filter the dataframe based on the items in the lists and get aggregation

In [27]:
agg_dict = {'price': 'mean', 'quantity': 'sum', 'cost': 'sum'}

mom_list = ['apples','pears','wheat']
dad_list = ['asparagus','cous cous']
my_list = ['pears','bananas','jasmine rice']

shopping_df.loc[shopping_df['food_name'].isin(mom_list)].groupby(['category']).agg(agg_dict).reset_index()

  category  price  quantity  cost
0    fruit  0.675       5.0  4.35
1    grain  0.100      10.0  1.00

## Loop over the 3 lists and get the cost for each person
### First, create a list of lists
#### Note: it's typically the "pythonic" way to create an empty thing and add to it

In [28]:
all_people = []
all_people.append(mom_list)
all_people.append(dad_list)
all_people.append(my_list)

all_people

[['apples', 'pears', 'wheat'],
 ['asparagus', 'cous cous'],
 ['pears', 'bananas', 'jasmine rice']]

## Get the total cost in multiple steps before rolling into one value.

In [29]:
agg_dict = {'cost': 'sum'}

print(shopping_df.agg(agg_dict))
print('_____')
print('     ')

print(shopping_df.agg(agg_dict).values)
print('_____')
print('     ')

print(shopping_df.agg(agg_dict).values[0])

cost    18.675
dtype: float64
_____

[18.675]
_____

18.675

## Now let's loop over the 3 lists and get the total cost for each person

In [30]:
agg_dict = {'cost': 'sum'}

for i in all_people:
    print(shopping_df.loc[shopping_df['food_name'].isin(i)].agg(agg_dict).values[0])

5.35
3.925
4.75

In [31]:
shopping_df.loc[shopping_df['food_name'].isin(dad_list)]

   food_name   category  price  quantity   cost
4  asparagus  vegetable   3.00       1.0  3.000
9  cous cous      grain   0.37       2.5  0.925

## Let's add their names so we need to use enumerate

In [32]:
names = ['mom','dad','me']

for idx,j in enumerate(all_people):
    # create the cost value inside the loop
    person_cost = shopping_df.loc[shopping_df['food_name'].isin(j)].agg(agg_dict).values[0]
    rounded_cost = round(person_cost,2)

    # create the names
    name = names[idx]

    print('Total cost for ' + name + ' = $' + str(rounded_cost))

Total cost for mom = $5.35
Total cost for dad = $3.92
Total cost for me = $4.75

# Lesson 1 Exercise 1
## Make 3 lists with at least 4 items for the following: activities you like to do, your friends like to do, and your parents like to do
## Print the length of each list along with who's activities it refers to
## Find the common activities that are shared by 4 linkages - You|Friends, You|Parents, Parents|Friends, Everybody

# Lesson 1 Exercise 2 (Challenge)
## Make a dictionary with all of the activities contained within any of the 3 lists where the activity is the key
## For each key, add a list containing the cost to start the activity and the daily minutes required for proficiency
## For any activities that your friends or parents do that you do not, print the activity and the associated startup cost and daily minutes required